
.card {
    vertical-align: top;
    display: inline-block;
    border-radius: 4px;
    border: 3px solid transparent;
    background-color: #fafafa;
    min-height: 110px;
    width: 300px;
    margin: 0 8px 16px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    text-decoration: none!important;
    cursor: pointer;
    box-shadow: 0 9px 20px rgba(0,0,0,.07), 0 2px 6px rgba(0,0,0,.07);
}
.card:hover {
    border-color: #cbeaf0;
}
svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
}

.title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    height: 30px;
}
.text {
    margin: 15px 0;
    font-size: 14px;
    color: #999;
}