<h1>Добро пожаловать в RELY</h1>
<div class="sub-title">Сервис Rely обеспечит <span class="bold-italic">надежную</span> доставку вашего сообщения
    и&nbsp;<br /> поможет избежать недопонимания с&nbsp; партнёрами</div>
<div class="cards">
    <app-card [title]="'Отправьте письмо'"
        [text]="'Воспользуйтесь гибкой конфигурацией для создания и надежной отправки сообщения'"></app-card>
    <app-card [title]="'Просмотрите журнал писем'"
        [text]="'Посмотрите детальную информацию об отправленных сообщениях'"></app-card>
</div>
<div>
    <img class="pleased-customer" src="../assets//img//pleased-customer.jpg" alt="Довольный клиент">
</div>