<div>
    <table>
        <tbody>
            <tr>
                <td class="select"><input type="checkbox"/></td>
                <td class="theme">Добрый вечер</td>
                <td class="date">{{randomDate}}</td>
                <td class="recipient">r0bari@yandex.ru</td>
                <td class="size">{{randomSize}}</td>
                <td class="delivery-service">{{randomDate}}</td>
                <td class="status">{{randomDate}}</td>
                <td class="func-buttons">
                    <button>Редактировать</button>
                    <button>Удалить</button>
                </td>
            </tr>
            <tr>
                <td class="select"><input type="checkbox"/></td>
                <td class="theme">Добрый вечер</td>
                <td class="date">{{randomDate}}</td>
                <td class="recipient">r0bari@yandex.ru</td>
                <td class="size">{{randomSize}}</td>
                <td class="delivery-service">{{randomDate}}</td>
                <td class="status">{{randomDate}}</td>
                <td class="func-buttons">
                    <button>Редактировать</button>
                    <button>Удалить</button>
                </td>
            </tr>
            <tr>
                <td class="select"><input type="checkbox"/></td>
                <td class="theme">Добрый вечер</td>
                <td class="date">{{randomDate}}</td>
                <td class="recipient">r0bari@yandex.ru</td>
                <td class="size">{{randomSize}}</td>
                <td class="delivery-service">{{randomDate}}</td>
                <td class="status">{{randomDate}}</td>
                <td class="func-buttons">
                    <button>Редактировать</button>
                    <button>Удалить</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

